<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadControl</servlet-name>
        <servlet-class>controller.LoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFlashCard</servlet-name>
        <servlet-class>controller.AddFlashCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>controller.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckActivate</servlet-name>
        <servlet-class>controller.CheckActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckVerification</servlet-name>
        <servlet-class>controller.CheckVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotToChangePassword</servlet-name>
        <servlet-class>controller.ForgotToChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProfile</servlet-name>
        <servlet-class>controller.LoadProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAccount</servlet-name>
        <servlet-class>controller.SaveAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadControlBlog</servlet-name>
        <servlet-class>controller.LoadControlBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>controller.AddBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleleBlogById</servlet-name>
        <servlet-class>controller.DeleleBlogById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlog</servlet-name>
        <servlet-class>controller.UpdateBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBlogHome</servlet-name>
        <servlet-class>controller.LoadBlogHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControl</servlet-name>
        <servlet-class>controller.UpdateControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortDateBlog</servlet-name>
        <servlet-class>controller.SortDateBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFlashCardHome</servlet-name>
        <servlet-class>controller.LoadFlashCardHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserAccount</servlet-name>
        <servlet-class>controller.LoadUserAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadExpertAccount</servlet-name>
        <servlet-class>controller.LoadExpertAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSellerAccount</servlet-name>
        <servlet-class>controller.LoadSellerAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRole</servlet-name>
        <servlet-class>controller.ChangeRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProfileToChangeRole</servlet-name>
        <servlet-class>controller.LoadProfileToChangeRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccount</servlet-name>
        <servlet-class>controller.SearchAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActivateAccount</servlet-name>
        <servlet-class>controller.ActivateAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivateAccount</servlet-name>
        <url-pattern>/ActivateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckActivate</servlet-name>
        <url-pattern>/CheckActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadControl</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlashCard</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckVerification</servlet-name>
        <url-pattern>/CheckVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotToChangePassword</servlet-name>
        <url-pattern>/ForgotToChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProfile</servlet-name>
        <url-pattern>/LoadProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAccount</servlet-name>
        <url-pattern>/SaveAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControl</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLesson</servlet-name>
        <url-pattern>/createlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadControlBlog</servlet-name>
        <url-pattern>/loadblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleleBlogById</servlet-name>
        <url-pattern>/deleteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlog</servlet-name>
        <url-pattern>/updateblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBlogHome</servlet-name>
        <url-pattern>/loadbloghome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortDateBlog</servlet-name>
        <url-pattern>/sortdateblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFlashCardHome</servlet-name>
        <url-pattern>/loadflash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserAccount</servlet-name>
        <url-pattern>/LoadUserAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadExpertAccount</servlet-name>
        <url-pattern>/LoadExpertAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSellerAccount</servlet-name>
        <url-pattern>/LoadSellerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRole</servlet-name>
        <url-pattern>/ChangeRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProfileToChangeRole</servlet-name>
        <url-pattern>/LoadProfileToChangeRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccount</servlet-name>
        <url-pattern>/SearchAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
