.ManageTitle.selected {
    display: inline-block;
    padding-left: 40px;
    text-decoration: none;
    color: #2878EB !important;
    font-weight: bold;
}
.ManageTitle {
    display: inline-block;
    padding-left: 40px;
    text-decoration: none;
    color:black;
    font-weight: bold;
}   